<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | Mert K</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <video id="video_background" autoplay muted loop>
    <source src="../static/earth.mp4" type="video/mp4">
  </video>
  <div class="ozellikler">

  </div>
  <div class="wrapper">
    <form id="action" action="/kaydet" method="post">
      <h1>Giriş Yap</h1>
      <div class="input-box">
        <input name="auth_username" type="text" id="auth_username" placeholder="Kullanıcı Adı" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input name="auth_password" type="password" id="auth_password" placeholder="Şifre" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Beni Hatırla</label>
        <a href="#">Şifremi Unuttum</a>
      </div>
      <button id="login_button" type="submit" class="btn">Giriş</button>
      <div class="register-link">
        <p>Hesabın Yok Mu? <a href="register.html">Kayıt Ol</a></p>
      </div>
    </form>


    <script src="../static/app.js"></script>
  </div>

</body>
</html>

